.story-card {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#latest-stories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 500px;
    margin: 10px;
}

#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
}

#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

#story-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#story-wrapper {
    text-align: center;
    margin: 10px;
}

#favourite-wrapper {
    text-align: center;
    margin: 10px;
}


#comment-wrapper {
    text-align: center;
    margin: 10px;
}

#story-content {
    text-align: center;
}

#story-content img {
    margin: 0 0 10px 10px;
    width: 50%;
}

#news-text {
    display:flex;
    flex-direction: column;
    background-color: #7A4CA9;
    color: #fff;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.search-label {
    color: white;
    width: 100%;
}

.search-button {
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
}

.search-inputs {
    flex: 100%;
}

.search-input {
    border-radius: 10px;
    height: 30px;
}

.author-input {
    border-radius: 10px;
    height: 30px;
}

.categories-input {
    border-radius: 10px;
    height: 30px;
}

.new-story {
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.story-nav {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding:10px;
}

.new-story-nav {
    width: 100%;
    text-align: right;
}

.search {
    display: flex;
    flex-direction: column;
}

.story-section-label {
    font-size: 2rem;
    margin-left: 20px;
}
