{% extends "base.html" %}
    {% load static %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}

    <div id="news-text">

    <form method="GET" style="display: flex; flex-direction: column" >
        <div class="search-inputs">
        <label class="search-label">
            {{form.search.label}}   
        </label>
        {{form.search}} 
        <label class="search-label">
            {{form.author.label}}   
        </label>

        {{form.author}} 
        <label class="search-label">
            {{form.categories.label}}   
        </label>
        {{form.categories}} 
        </div>
        <button class="search-button" type="submit">Search News</button>
    </form>
    </div>
    {% if request.user.is_authenticated %}
    <div class="new-story-nav">
        <a class="new-story" href="{% url 'news:newStory' %}">Write New Story</a>
    </div>
    {% endif %}
    <h2 class="story-section-label"> Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include './storyCard.html' with story=story position=forloop.counter%}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>


    <h2 class="story-section-label"> Search Results <h2>
    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include './storyCard.html' with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    {% endblock %}