{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel='stylesheet' type='text/css' href="{% static 'news/styles.css' %}">
{% endblock%}

{% block content %}


<div id="story-container">
<div id="story-wrapper">
    {% if user == story.author %}
        <a class="story-nav" href="{% url 'news:storyEdit' story.id %}">Edit</a>
        <a class="story-nav" href="{% url 'news:storyDelete' story.id %}">Delete</a>
    {% endif %}
    <h2>{{ story.title }}</h2>
    <h4>Written by: {{ story.author }}</h4>
    <div id="story-content">
        <img src="{{ story.image_url }}">
        {{ story.content|linebreaks }}
    </div>

</div>

<div id="favourite-wrapper">
    <div>
        {% if story.favourited_by.count %}
            Liked by: {{ story.favourited_by.count }} user{{ story.favourited_by.count|pluralize:"s" }} 
            ({% for user in story.favourited_by.all %}{{user.username}} {% endfor %})
        {% endif %}
        <a href="{% url 'news:like' story.id %}"><button>{% if request.user in story.favourited_by.all %}Unlike{% else %}Like{% endif %} Story</button></a>
    <div>
<div>

<div id="comment-wrapper">
    <div>

        <form method="POST" action="{{ form_action }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Comment</button>
        </form>
    </div>

    <p><a href="{% url 'news:addComment' story.id %}">Add a comment</a></p>

    <ul>
    {% for comment in story.comments.all %}
        <li>{{comment.author.username}} ({{comment.created_at}}): {{ comment.content }}</li>
    {% endfor %}
    </ul>
</div>
</div>

{% endblock %}
